.chat-Container{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}


/* For mobile devices */
@media only screen and (max-width: 600px) {
    .chat-Container{
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
    }  
  }
  
  