.window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.chat-messages {
  flex: 1; 
  overflow-y: auto;
  width: 100%; 
  height: 100vh;
}


.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  width: 100%;
  height: 8vh;
  background-color: #797a2e;
  overflow: break-word;
}


.chat-input button {
  height: 10vh;
  background-color: #797a2e;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.chat-input button:hover {
  background-color: #acad3f;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../Images/internet-6114801_1920.jpg') center/cover;
}

.chat-input {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.chat-input input {
  width: 80%;
  height: 6vh;
  font-size: 1.5rem;
}

.chat-input button {
  width: 20%;
  height: 6.7vh;
}


.contact-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-section h2{
   font-size: 2rem;
}

.contact-section h1{
  font-size: 1.5rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  gap: 400px;
}

.icon {
  font-size: 9rem;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-10px); 
}


.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #555;
}

.copyright-logo {
  font-size: 1.5em;
  margin-right: 5px;
}

.copyright-text {
  font-size: 1em;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.sent-message {
  background-color: #cce6ff; 
  color: #004085; 
  padding: 8px;
  border-radius: 8px;
  margin: 8px 10px;
  max-width: 70%;
  align-self: flex-end; 
  
}

.received-message {
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 8px;
  border-radius: 8px;
  margin: 8px 10px; 
  max-width: 70%;
  align-self: flex-start; 
}
/* Media Queries */

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .window {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .contact-section h2{
    font-size: 2rem;
 }
 
 .contact-section h1{
   font-size: 1.5rem;
 }

 .chat-header {
  font-size: 1.2rem;
}

.back-button {
  position: absolute; 
  left: 11px; 
}

.chat-input input {
  font-size: 1.2rem;
}

.sent-message,
  .received-message {
    margin: 8px;
  }

  .chat-header {
    display: flex;
    justify-content: center;
    align-items: center; 
    letter-spacing: 0rem;
    overflow-wrap: break-word;
  }
  


}


/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .window {
    width: 70%;
  }

  .contact-section h2{
    font-size: 1.2rem;
 }
 
 .contact-section h1{
   font-size: 1rem;
 }
 
 .chat-header {
   font-size: 1.1rem;
 }

 
 .contact-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 2%;
}

.contact-section h2 {
  font-size: 1.2rem; 
}

.contact-section h1 {
  font-size: 0.9rem; 
}

.icon-container {
  display: flex;
  justify-content: space-between;
  gap: 125px; 
}

.icon {
  font-size: 5.4rem; 
  color: black;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-6px); 
}

.sent-message,
  .received-message {
    margin: 8px; 
  }

  .sent-message, .received-message {
    padding: 12px;
    border-radius: 12px;
    margin: 12px 8px;
    max-width: 90%;
    font-size: 1.3rem;
  }



}

/* For large screens */
@media only screen and (min-width: 1025px) {
  .window {
    width: 100%;
  }

  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  
  .sent-message, .received-message {
    padding: 16px;
    border-radius: 16px;
    margin: 16px 10px;
    max-width: 80%;
    font-size: 1.5rem;
  }
  
  
}

