/* Contact.css */

.contact-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-section h2{
   font-size: 2rem;
}

.contact-section h1{
  font-size: 1.5rem;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  gap: 400px;
}

.icon {
  font-size: 9rem;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-10px); 
}


.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #555;
}

.copyright-logo {
  font-size: 1.5em;
  margin-right: 5px;
}

.copyright-text {
  font-size: 1em;
}





/* Media Queries for Mobiles */
@media screen and (max-width: 576px) {
  .contact-section h2 {
    font-size: 1.5rem;
  }

  .contact-section h1 {
    font-size: 1.2rem;
  }

  .icon-container {
    gap: 20px; 
  }

  .icon-container .icon {
    font-size: 4rem;
  }
}


/* Media Queries for Tablets */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .icon-container {
    gap: 150px;
    display: flex;
    justify-content: center;
  }
}
