.ver-navbar {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 30%;
}

.nav-item {
  margin: 8px 0;
  cursor: pointer;
  font-size: 16px;
  color: #fffcfc;
}

.nav-item:hover {
  color: black; 
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.user-data {
  color: aliceblue;
  margin-top: 10px;
}

.user-box {
  cursor: pointer;
  margin-left: 0;
  padding: 6px;
}

.user-box:hover {
  background-color: #f5f5f5;
  color: black; 
}

.user-data li {
  list-style: none;
  margin-left: 0; 
  margin-bottom: 0; 
}

.user-box p {
  margin-left: 5%;
  font-size: 1.7rem;
}

.user-box.selected {
  background-color: #ffeeba; 
  color: black; 
}
